# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*

### Flask ###
instance/*
!instance/.gitignore
.webassets-cache
.env

### Flask.Python Stack ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv
.venv-syft
env/
venv/
ENV/
env.bak/
venv.bak/

# installed platform-specific binaries
bin/
# config/
.DS_Store
.project

# omit Go vendor directories
vendor/
.vscode
.gradle
.idea

# Dependency directories
node_modules/

# Ignore Gradle build output directory
build
package-lock.json
external-chaincode/
